form {
  text-align: left;
}

form label {
  display: block;
  margin: 10px 0;
}

form input[type="radio"] {
  margin-right: 10px;
}

button {
  margin-top: 20px;
}
.form-container {
    text-align: center;
    margin: 50px;
  }
  
  .header {
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #5a5a5a;
  }
  
  main h2 {
    color:#694bbe;
    font-size: 60px;
    font-family:serif;
  }
  
  .social-links a {
    margin: 0 10px;
    color: #6c63ff;
    text-decoration: none;
  }
  
  .social-links a:hover {
    color: #5a5a5a;
  }
  
  button {
    margin-top: 20px;
    background-color: #a763ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    border-radius: 15px;
  }
  
  button:hover {
    background-color: #5a5a5a;
  }
  

